
.calendar {
	.header {
		display: flex;
	}
	.nav-btn{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
	}
	.chevron-btn{
		border: 2px solid #5195fc!important;
		border-radius: 4px;
		cursor: pointer;
	}
	.chevron-btn:hover{
		background: #5195fc;
	}
}