.event-container{
    position: relative;
    display: grid;
    grid-template-columns: 20px 1fr;
    max-height: 60px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .139);
    cursor: pointer;
}
.event-container:hover{
    background:  #3788d8;
   
}
.data-wrap{
    font-size: 12px;
    padding: 4px;
}
.left-bar{
    width: 10;
    background: #3788d8;
    height:100%
}
.event-list{
   
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.event-meeting-container{
    display: grid
;
    grid-template-columns: 10px 1fr;
    padding: 10px 0px;
    border: none;
    border-top: 1px solid #ccc8c8;
    width: 100%;
}
.meeting-header{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
  
}
.meeting-label{
    font-size: 14px;
    font-weight: 600;
}
.event-data{
    padding: 4px;
    font-size: 13px;
}
.event-data:hover{
    background: #3788d8;
    color:#ffffff;
}
.custom-event-popover{
   
    background: #ffffff;
    background-color: #fff;
    border-radius: 4px;
    height: 330px;
  border:1px solid #ddd;
    padding: 10px;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 440px;
    z-index: 1000;
    /* right: 100%; */
}
.event-content{
    width: 415px;
    height: 306px;
    border: 1px solid #ddd;
    display: flex;
}
.event-content-left{
    border-right: 1px solid #ddd;
    font-size: 13px;
    padding-left: 2px;
    text-align: left;
    width: 50%;
    height: 100%;
}
.event-left-btn{
    color: #0a5bd0;
    font-size: 13px;
    height: 35px;
    margin-top: 8px;
    text-align: center;
    width: 90%;
    margin-left: 10px;
}
.event-content-details{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.event-image-btn{
    width: 50%;
    height: 100%;
   
    display: flex
;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.join-btn{
    background-color: #0a5bd0;
    border: 1px solid #0a5bd0;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 11px;
    height: 25px;
    margin-top: 10px;
    width: 40%;
}
.event-label{
    padding: 10px;
    font-size: 15px;
}